<!--
Provides a reasonable set of parameters for running Karto on a robot
Assumes an 'odom_combined' frame, that provides reasonably accurate odometry
-->

<launch>

  <env name="ROSCONSOLE_CONFIG_FILE"
       value="$(find pp)/custom_rosconsole.conf"/>

  <node pkg="slam_karto" type="slam_karto" name="slam_karto" output="screen">
    <param name="odom_frame" value="odom"/>
    <param name="map_update_interval" value="5"/>
    <param name="resolution" value="0.025"/>
    <param name="scan_frame" value="scanLinear" />
     <rosparam file="$(find pp)/config/mapper_params.yaml" command="load" />
  </node>
</launch>
