<?xml version="1.0" ?>
<launch>
	<param name="robot_description" command="$(find xacro)/xacro  '$(find pp)/urdf/aicleanrobot.urdf'" />

	<include file="$(find pp)/launch/robot_state_publisher.launch" />

	<include file="$(find pp)/launch/rplidar.launch" />
	<!-- <include file="$(find pp)/launch/median_filter_5_example.launch" /> -->

	<include file="$(find pp)/launch/tf_lidar2base.launch" />
	<!--<include file="$(find pp)/launch/obstacle_detector.launch" />-->
	<include file="$(find pp)/launch/pp.launch" />

	<!--<include file="$(find pp)/launch/gmapping.launch" />-->
	<include file="$(find pp)/launch/karto_slam.launch" />
	<!--<include file="$(find pp)/launch/cartographer_slam.launch" />-->
</launch>
