<launch>

  <env name="ROSCONSOLE_CONFIG_FILE"
       value="$(find pp)/custom_rosconsole.conf"/>

	<node name="pp" pkg="pp" type="pp" output="screen">
		<param name="serial_port" type="string" value="/dev/ttyUSB0" />
		<param name="baudrate" type="int" value="115200" />
		<param name="line_align" type="bool" value="true" />

		<!-- 0: gmapping, 1: karto, 2: goole cartographe -->
		<param name="slam_type" type="int" value="2" />
	</node>
</launch>
