<launch>
	<node name = "robotbase" pkg="ilife_robotbase" type ="robotbase" output = "screen">
		<param name="serial_port" type="string" value="/dev/ttyS3" />
		<param name="baudrate" type="int" value="115200" />
		<param name="pub_rate" type="int" value="50" />
		<param name="cliff_warnning" type="bool" value="true" />
		<param name="bumper_warnning" type="bool" value="true" />
		<param name="overcurrent_warnning" type="bool" value="true" />
		<param name="wheel_warnning" type="bool" value="true" />
	</node>
	
</launch>
